@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@using Archetype.Models;
@{
    var model = (ArchetypeFieldsetModel)ViewData["fieldset"];
}
<!--Separeter Line-->
<div class="separeter-line">
    <div class="line-one"></div>
    <div class="line-two"></div>
</div>