@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@using Archetype.Extensions;
@using Newtonsoft.Json;


@{
    var jsonString = Model.value.Value as string;
    var configString = Model.editor.config.ToString() as string;

    var archetype = jsonString.DeserializeJsonToArchetype(configString);
    var employeeIds = archetype.First().GetValue<int[]>("employees");
    var employees = employeeIds.Select(x => Umbraco.Media(x));
}
<section class="team-section" style="padding:0">
    <div class="auto-container">
        <div class="row clearfix">
            @foreach (var employee in employees)
            {
            <!--Team Member-->
                <div class="team-member col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box wow fadeIn animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeIn;">
                        <figure class="image-box" style="height:auto;width:auto">
                            <img src="@employee.Image" alt="">
                            @*<div class="overlay-box">
                                    <ul class="social-icon-one">
                                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    </ul>
                                </div>*@
                        </figure>
                        <div class="lower-content">
                            <h3><a href="#">@employee.FullName</a></h3>
                            <div class="designation">@employee.Role</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
