@model SilverNitiViewModel

<!--Main Footer -->
<footer class="main-footer footer-style-one">
    @if (Model.Home.ShowFooterContent)
    {
        @Html.GetGridHtml(Model.Home, "footerContent", "fanoe")
    }
    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="copyright-text">Copyrights &copy; 2017 Palermo. All Rights Reserved</div>
        </div>
    </div>
</footer>
<!--End Main Footer-->