 <!-- Main Header / Header Style One-->
<header class="main-header header-style-one">
    <div class="header-top-one">
        <div class="auto-container">
            <div class="clearfix">
                <!--Top Left-->
                <div class="top-left">
                    @Html.Partial("Contacts")
                </div>
                <!--Top Right-->
                <div class="top-right">
                    @Html.Partial("SocialIcons")
                    <ul class="btn-box pull-right clearfix">
                        <li><a href="contact.html" class="theme-btn booking-btn">Get a Quote</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--Header-Upper-->
    <div class="header-upper">
        <div class="auto-container">
            <div class="clearfix">
                <div>
                    <h1> СЕРЕБРЯНЫЕ НИТИ </h1>
                </div>
                <hr width="200" align="center">
                <div style="display:inline-block; width:400px;">
                    <h4> Первый в россии межригиональный конкурс корпоративных информационных ресурсов</h4>
                </div>


                @*<div class="logo-outer">
                        <div class="logo"><a href="index.html"><img src="images/logo.png" alt="Palermo" title="Palermo"></a></div>
                    </div>
                    <div class="upper-right clearfix">
                        <!--Info Box-->
                        <div class="info-box">
                            <div class="icon-box"><span class="flaticon-telephone-handle-silhouette"></span></div>
                            <ul>
                                <li><strong>Call us</strong></li>
                                <li>(+1) - 2000 - 500 - 784 </li>
                            </ul>
                        </div>
                        <!--Info Box-->
                        <div class="info-box">
                            <div class="icon-box"><span class="fa fa-envelope"></span></div>
                            <ul>
                                <li><strong>MAIL US</strong></li>
                                <li>palermotraining@info.com</li>
                            </ul>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>

    <!--Header-Lower-->
    <div class="header-lower">
        <div class="auto-container">
            <div class="nav-outer clearfix">
                <!-- Main Menu -->
                @Html.Partial("MainNavigation")
                <!-- Main Menu End-->
                <!--Search Box-->
                @*<div class="search-box">
                        <form method="post" action="blog-grid.html">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Search your Keyword..." required>
                                <button type="submit"><span class="icon fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>*@
            </div>
        </div>
    </div>
    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="index.html" class="img-responsive"><img src="images/logo-small.png" alt="Palermo" title="Palermo"></a>
            </div>
            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                @Html.Partial("MainNavigation")
                <!-- Main Menu End-->
            </div>
        </div>
    </div>
    <!--End Sticky Header-->
</header>
<!--End Main Header -->