        <!--Services Section-->
<section class="services-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title-three">
            <h2>OUR SERVICES</h2>
            <!--Separeter Line-->
            <div class="separeter-line">
                <div class="line-one"></div>
                <div class="line-two"></div>
            </div>
            <div class="text">The ship set ground on the shore that this group would somehow form a family that's the way</div>
        </div>
        <div class="row clearfix">
            <!--Services Block Two-->
            <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="images/resource/services-1.jpg" alt="" />
                    </div>
                    <!--Lower Box-->
                    <div class="lower-box">
                        <div class="icon-box"><div class="icon flaticon-edit-1"></div></div>
                        <h3>SALES EFFECTIVENESS</h3>
                    </div>
                    <!--Overlay Box-->
                    <div class="overlay-box" style="background-image:url(images/resource/services-1.jpg)">
                        <div class="overlay-inner">
                            <div class="content">
                                <div class="icon flaticon-edit-1"></div>
                                <h3><a href="service-single.html">SALES EFFECTIVENESS</a></h3>
                                <div class="text">The ship set ground on the shore that this group would somehow form a family.</div>
                                <a href="service-single.html" class="theme-btn btn-style-one">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Block Two-->
            <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="images/resource/services-2.jpg" alt="" />
                    </div>
                    <!--Lower Box-->
                    <div class="lower-box">
                        <div class="icon-box"><div class="icon flaticon-megaphone"></div></div>
                        <h3>LEADERSHIP DEVELOPMENT</h3>
                    </div>
                    <!--Overlay Box-->
                    <div class="overlay-box" style="background-image:url(images/resource/services-2.jpg)">
                        <div class="overlay-inner">
                            <div class="content">
                                <div class="icon flaticon-megaphone"></div>
                                <h3><a href="service-single.html">LEADERSHIP DEVELOPMENT</a></h3>
                                <div class="text">The ship set ground on the shore that this group would somehow form a family.</div>
                                <a href="service-single.html" class="theme-btn btn-style-one">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Block Two-->
            <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="images/resource/services-3.jpg" alt="" />
                    </div>
                    <!--Lower Box-->
                    <div class="lower-box">
                        <div class="icon-box"><div class="icon flaticon-school"></div></div>
                        <h3>PERSONAL EFFECTIVENESS</h3>
                    </div>
                    <!--Overlay Box-->
                    <div class="overlay-box" style="background-image:url(images/resource/services-3.jpg)">
                        <div class="overlay-inner">
                            <div class="content">
                                <div class="icon flaticon-school"></div>
                                <h3><a href="service-single.html">PERSONAL EFFECTIVENESS</a></h3>
                                <div class="text">The ship set ground on the shore that this group would somehow form a family.</div>
                                <a href="service-single.html" class="theme-btn btn-style-one">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Block Two-->
            <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="images/resource/services-4.jpg" alt="" />
                    </div>
                    <!--Lower Box-->
                    <div class="lower-box">
                        <div class="icon-box"><div class="icon flaticon-monitor"></div></div>
                        <h3>PRESENTATION SKILLS</h3>
                    </div>
                    <!--Overlay Box-->
                    <div class="overlay-box" style="background-image:url(images/resource/services-4.jpg);">
                        <div class="overlay-inner">
                            <div class="content">
                                <div class="icon flaticon-monitor"></div>
                                <h3><a href="service-single.html">PRESENTATION SKILLS</a></h3>
                                <div class="text">The ship set ground on the shore that this group would somehow form a family.</div>
                                <a href="service-single.html" class="theme-btn btn-style-one">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Block Two-->
            <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="images/resource/services-5.jpg" alt="" />
                    </div>
                    <!--Lower Box-->
                    <div class="lower-box">
                        <div class="icon-box"><div class="icon flaticon-pie-chart"></div></div>
                        <h3>NEGOTIATION TRAINING</h3>
                    </div>
                    <!--Overlay Box-->
                    <div class="overlay-box" style="background-image:url(images/resource/services-5.jpg);">
                        <div class="overlay-inner">
                            <div class="content">
                                <div class="icon flaticon-pie-chart"></div>
                                <h3><a href="service-single.html">NEGOTIATION TRAINING</a></h3>
                                <div class="text">The ship set ground on the shore that this group would somehow form a family.</div>
                                <a href="service-single.html" class="theme-btn btn-style-one">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Block Two-->
            <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="images/resource/services-6.jpg" alt="" />
                    </div>
                    <!--Lower Box-->
                    <div class="lower-box">
                        <div class="icon-box"><div class="icon flaticon-handshake"></div></div>
                        <h3>REAL DEAL COACHING</h3>
                    </div>
                    <!--Overlay Box-->
                    <div class="overlay-box" style="background-image:url(images/resource/services-6.jpg);">
                        <div class="overlay-inner">
                            <div class="content">
                                <div class="icon flaticon-handshake"></div>
                                <h3><a href="service-single.html">REAL DEAL COACHING</a></h3>
                                <div class="text">The ship set ground on the shore that this group would somehow form a family.</div>
                                <a href="service-single.html" class="theme-btn btn-style-one">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Services Section-->
<!--Request Section-->
<section class="request-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Column-->
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <!--Sec Title-->
                    <div class="sec-title">
                        <h2>REQUEST A CALLBACK</h2>
                        <!--Separeter Line-->
                        <div class="separeter-line">
                            <div class="line-one"></div>
                            <div class="line-two"></div>
                        </div>
                    </div>
                    <div class="text">The ship set ground on the shore that this group would somehow form a family is a that's the way the ship set ground on the shore that this group the brady bunch of this uncharted an  right for the powerless in a world.</div>
                    <h3>WORKING HOURS:</h3>
                    <ul>
                        <li>The this group would somehow form a family is a that's the way.</li>
                        <li>Mon - Thu: 8.30am to 9.30pm</li>
                        <li>Fri - Sat: 9.30am to 9.30pm</li>
                        <li>Sunday: <span>Close</span></li>
                    </ul>
                </div>
            </div>
            <!--Form Column-->
            <div class="form-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <!--form-box-->
                    <div class="form-box default-form">
                        <form method="post" action="contact.html">
                            <div class="row clearfix">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="username" value="" placeholder="Your Name *" required>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="text" value="" placeholder="Your Phone *" required>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <input type="email" name="email" value="" placeholder="Your Email *">
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <textarea name="message" placeholder="Message *"></textarea>
                                </div>
                                <div class="form-group text-center col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" class="theme-btn btn-style-one">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Request Section-->
<!--News Block-->
<section class="news-section">
    <div class="auto-container">
        <!--Sec Title Three-->
        <div class="sec-title-three">
            <h2>WHY CHOOSE US</h2>
            <!--Separeter Line-->
            <div class="separeter-line">
                <div class="line-one"></div>
                <div class="line-two"></div>
            </div>
            <div class="text">The ship set ground on the shore that this group would somehow form a family that's the way</div>
        </div>
        <div class="row clearfix">
            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <a href="blog-single.html"><img src="images/resource/news-block.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="upper-box">
                            <h2><a href="blog-single.html">SALES TRAINING MODALITIES</a></h2>
                            <!--Separeter Line-->
                            <div class="separeter-line">
                                <div class="line-one"></div>
                                <div class="line-two"></div>
                            </div>
                        </div>
                        <div class="text">The ship set ground on the shore that this group would somehow form a family.</div>
                    </div>
                </div>
            </div>
            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <a href="blog-single.html"><img src="images/resource/news-block-2.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="upper-box">
                            <h2><a href="blog-single.html">EXTENSIVE SALES TRAINING</a></h2>
                            <!--Separeter Line-->
                            <div class="separeter-line">
                                <div class="line-one"></div>
                                <div class="line-two"></div>
                            </div>
                        </div>
                        <div class="text">The ship set ground on the shore that this group would somehow form a family.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <!--News Block Two-->
                <div class="news-block-two">
                    <div class="inner-box">
                        <div class="image-box">
                            <a href="blog-single.html"><img src="images/resource/news-block-3.jpg" alt="" /></a>
                        </div>
                        <!--Title Box-->
                        <div class="title-box">
                            <h2><a href="service-single.html">SALES TRANSFORMATION</a></h2>
                            <!--Separeter Line-->
                            <div class="separeter-line">
                                <div class="line-one"></div>
                                <div class="line-two"></div>
                            </div>
                        </div>
                        <div class="text">The ship set ground on the shore a that this group.</div>
                    </div>
                </div>
                <!--News Block Two-->
                <div class="news-block-two">
                    <div class="inner-box">
                        <div class="image-box">
                            <a href="blog-single.html"><img src="images/resource/news-block-4.jpg" alt="" /></a>
                        </div>
                        <!--Title Box-->
                        <div class="title-box">
                            <h2><a href="service-single.html">CHANGE MANAGEMENT</a></h2>
                            <!--Separeter Line-->
                            <div class="separeter-line">
                                <div class="line-one"></div>
                                <div class="line-two"></div>
                            </div>
                        </div>
                        <div class="text">The ship set ground on the shore a that this group.</div>
                    </div>
                </div>
                <!--News Block Two-->
                <div class="news-block-two">
                    <div class="inner-box">
                        <div class="image-box">
                            <a href="blog-single.html"><img src="images/resource/news-block-5.jpg" alt="" /></a>
                        </div>
                        <!--Title Box-->
                        <div class="title-box">
                            <h2><a href="service-single.html">CORPORATE SALES METHOD</a></h2>
                            <!--Separeter Line-->
                            <div class="separeter-line">
                                <div class="line-one"></div>
                                <div class="line-two"></div>
                            </div>
                        </div>
                        <div class="text">The ship set ground on the shore a that this group.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End News Block-->
<!--Blog Section-->
<div class="blog-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title-three">
            <h2>LATEST BLOG</h2>
            <!--Separeter Line-->
            <div class="separeter-line">
                <div class="line-one"></div>
                <div class="line-two"></div>
            </div>
            <div class="text">The ship set ground on the shore that this group would somehow form a family that's the way</div>
        </div>
        <!--Two Item Carousel-->
        <div class="two-item-carousel owl-carousel owl-theme">
            <!--News Block Three-->
            <div class="news-block-three">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <a href="blog-single.html"><img src="images/resource/news-block-6.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <div class="upper-box">
                                <div class="inner">
                                    <div class="date">08 <span>Nov</span></div>
                                    <!--News Title-->
                                    <div class="news-title">
                                        <h2><a href="blog-single.html">all Happy and Free</a></h2>
                                        <!--Separeter Line-->
                                        <div class="separeter-line">
                                            <div class="line-one"></div>
                                            <div class="line-two"></div>
                                        </div>
                                    </div>
                                    <ul class="list-style-one">
                                        <li><span class="icon flaticon-user-shape"></span> By Admin</li>
                                        <li><span class="icon flaticon-commenting"></span> 19 Comments</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text">The ship set ground on the shore that this on group would somehow form a family on the shore that this group.</div>
                            <a href="blog-single.html" class="theme-btn btn-style-three">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--News Block Three-->
            <div class="news-block-three">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <a href="blog-single.html"><img src="images/resource/news-block-7.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <div class="upper-box">
                                <div class="inner">
                                    <div class="date">08 <span>Nov</span></div>
                                    <!--News Title-->
                                    <div class="news-title">
                                        <h2><a href="blog-single.html">this beautiful day</a></h2>
                                        <!--Separeter Line-->
                                        <div class="separeter-line">
                                            <div class="line-one"></div>
                                            <div class="line-two"></div>
                                        </div>
                                    </div>
                                    <ul class="list-style-one">
                                        <li><span class="icon flaticon-user-shape"></span> By Admin</li>
                                        <li><span class="icon flaticon-commenting"></span> 19 Comments</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text">The ship set ground on the shore that this on group would somehow form a family on the shore that this group.</div>
                            <a href="blog-single.html" class="theme-btn btn-style-three">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--News Block Three-->
            <div class="news-block-three">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <a href="blog-single.html"><img src="images/resource/news-block-6.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <div class="upper-box">
                                <div class="inner">
                                    <div class="date">08 <span>Nov</span></div>
                                    <!--News Title-->
                                    <div class="news-title">
                                        <h2><a href="blog-single.html">all Happy and Free</a></h2>
                                        <!--Separeter Line-->
                                        <div class="separeter-line">
                                            <div class="line-one"></div>
                                            <div class="line-two"></div>
                                        </div>
                                    </div>
                                    <ul class="list-style-one">
                                        <li><span class="icon flaticon-user-shape"></span> By Admin</li>
                                        <li><span class="icon flaticon-commenting"></span> 19 Comments</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text">The ship set ground on the shore that this on group would somehow form a family on the shore that this group.</div>
                            <a href="blog-single.html" class="theme-btn btn-style-three">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--News Block Three-->
            <div class="news-block-three">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <a href="blog-single.html"><img src="images/resource/news-block-7.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <div class="upper-box">
                                <div class="inner">
                                    <div class="date">08 <span>Nov</span></div>
                                    <!--News Title-->
                                    <div class="news-title">
                                        <h2><a href="blog-single.html">this beautiful day</a></h2>
                                        <!--Separeter Line-->
                                        <div class="separeter-line">
                                            <div class="line-one"></div>
                                            <div class="line-two"></div>
                                        </div>
                                    </div>
                                    <ul class="list-style-one">
                                        <li><span class="icon flaticon-user-shape"></span> By Admin</li>
                                        <li><span class="icon flaticon-commenting"></span> 19 Comments</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text">The ship set ground on the shore that this on group would somehow form a family on the shore that this group.</div>
                            <a href="blog-single.html" class="theme-btn btn-style-three">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--News Block Three-->
            <div class="news-block-three">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <a href="blog-single.html"><img src="images/resource/news-block-6.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <div class="upper-box">
                                <div class="inner">
                                    <div class="date">08 <span>Nov</span></div>
                                    <!--News Title-->
                                    <div class="news-title">
                                        <h2><a href="blog-single.html">all Happy and Free</a></h2>
                                        <!--Separeter Line-->
                                        <div class="separeter-line">
                                            <div class="line-one"></div>
                                            <div class="line-two"></div>
                                        </div>
                                    </div>
                                    <ul class="list-style-one">
                                        <li><span class="icon flaticon-user-shape"></span> By Admin</li>
                                        <li><span class="icon flaticon-commenting"></span> 19 Comments</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text">The ship set ground on the shore that this on group would somehow form a family on the shore that this group.</div>
                            <a href="blog-single.html" class="theme-btn btn-style-three">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--News Block Three-->
            <div class="news-block-three">
                <div class="inner-box">
                    <div class="row clearfix">
                        <!--Image Column-->
                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                            <div class="image">
                                <a href="blog-single.html"><img src="images/resource/news-block-7.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                            <div class="upper-box">
                                <div class="inner">
                                    <div class="date">08 <span>Nov</span></div>
                                    <!--News Title-->
                                    <div class="news-title">
                                        <h2><a href="blog-single.html">this beautiful day</a></h2>
                                        <!--Separeter Line-->
                                        <div class="separeter-line">
                                            <div class="line-one"></div>
                                            <div class="line-two"></div>
                                        </div>
                                    </div>
                                    <ul class="list-style-one">
                                        <li><span class="icon flaticon-user-shape"></span> By Admin</li>
                                        <li><span class="icon flaticon-commenting"></span> 19 Comments</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text">The ship set ground on the shore that this on group would somehow form a family on the shore that this group.</div>
                            <a href="blog-single.html" class="theme-btn btn-style-three">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--End Blog Section-->