@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var home = @CurrentPage.Site();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Palermo HTML Template | Homepage One</title>
    <!-- Stylesheets -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/revolution-slider.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"><div class="loader"><div class="cssload-container"><div class="cssload-speeding-wheel"></div></div></div></div>

        <!-- Main Header / Header Style One-->
        <header class="main-header header-style-one">

            <div class="header-top-one">
                <div class="auto-container">
                    <div class="clearfix">
                        <!--Top Left-->
                        <div class="top-left">
                            <ul class="info-links clearfix">
                                <li><a href="#"><span class="icon flaticon-technology-1"></span> +1 - 8020 - 5499 - 0099</a></li>
                                <li><a href="#"><span class="icon flaticon-envelope"></span> support@palermo.com</a></li>
                            </ul>
                        </div>

                        <!--Top Right-->
                        <div class="top-right">
                            <!--social links-->
                            <div class="social-links pull-left clearfix">
                                <a href="#"><span class="fa fa-facebook-f"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-linkedin"></span></a>
                                <a href="#"><span class="fa fa-instagram"></span></a>
                                <a href="#"><span class="fa fa-vimeo"></span></a>
                            </div>

                            <ul class="btn-box pull-right clearfix">
                                <li><a href="contact.html" class="theme-btn booking-btn">Get a Quote</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!--Header-Upper-->
            <div class="header-upper">
                <div class="auto-container">
                    <div class="clearfix">

                        <div class="logo-outer">
                            <div class="logo"><a href="index.html"><img src="images/logo.png" alt="Palermo" title="Palermo"></a></div>
                        </div>

                        <div class="upper-right clearfix">

                            <!--Info Box-->
                            <div class="info-box">
                                <div class="icon-box"><span class="flaticon-telephone-handle-silhouette"></span></div>
                                <ul>
                                    <li><strong>Call us</strong></li>
                                    <li>(+1) - 2000 - 500 - 784 </li>
                                </ul>
                            </div>

                            <!--Info Box-->
                            <div class="info-box">
                                <div class="icon-box"><span class="fa fa-envelope"></span></div>
                                <ul>
                                    <li><strong>MAIL US</strong></li>
                                    <li>palermotraining@info.com</li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!--Header-Lower-->
            <div class="header-lower">

                <div class="auto-container">
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="current home dropdown">
                                        <a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">Homepage One</a></li>
                                            <li><a href="index-2.html">Homepage Two</a></li>
                                            <li><a href="index-3.html">Homepage Three</a></li>
                                            <li class="dropdown">
                                                <a href="#">Header Styles</a>
                                                <ul>
                                                    <li><a href="index.html">Header Style One</a></li>
                                                    <li><a href="index-2.html">Header Style Two</a></li>
                                                    <li><a href="index-3.html">Header Style Three</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="about-us.html">AboutUs</a></li>
                                    <li class="dropdown">
                                        <a href="#">Services</a>
                                        <ul>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="service-single.html">Sales Effectiveness</a></li>
                                            <li><a href="service-single.html">Leadership Development</a></li>
                                            <li><a href="service-single.html">Personal Effectiveness</a></li>
                                            <li><a href="service-single.html">Presentation Skills</a></li>
                                            <li><a href="service-single.html">Negotiation Training</a></li>
                                            <li><a href="service-single.html">Real Deal Coaching</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="gallery.html">Gallery</a>
                                        <ul>
                                            <li><a href="gallery.html">Gallery</a></li>
                                            <li><a href="gallery-masonry.html">Gallery Masonry</a></li>
                                            <li><a href="gallery-single.html">Gallery Single</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li class="dropdown">
                                        <a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog-grid.html">Blog Grid View</a></li>
                                            <li><a href="blog-list.html">Blog List View</a></li>
                                            <li><a href="blog-single.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">ContactUs</a></li>
                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->
                        <!--Search Box-->
                        <div class="search-box">
                            <form method="post" action="blog-grid.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Search your Keyword..." required>
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <!--Sticky Header-->
            <div class="sticky-header">
                <div class="auto-container clearfix">
                    <!--Logo-->
                    <div class="logo pull-left">
                        <a href="index.html" class="img-responsive"><img src="images/logo-small.png" alt="Palermo" title="Palermo"></a>
                    </div>

                    <!--Right Col-->
                    <div class="right-col pull-right">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="current dropdown">
                                        <a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">Homepage One</a></li>
                                            <li><a href="index-2.html">Homepage Two</a></li>
                                            <li><a href="index-3.html">Homepage Three</a></li>
                                            <li class="dropdown">
                                                <a href="#">Header Styles</a>
                                                <ul>
                                                    <li><a href="index.html">Header Style One</a></li>
                                                    <li><a href="index-2.html">Header Style Two</a></li>
                                                    <li><a href="index-3.html">Header Style Three</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="about-us.html">AboutUs</a></li>
                                    <li class="dropdown">
                                        <a href="#">Services</a>
                                        <ul>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="service-single.html">Sales Effectiveness</a></li>
                                            <li><a href="service-single.html">Leadership Development</a></li>
                                            <li><a href="service-single.html">Personal Effectiveness</a></li>
                                            <li><a href="service-single.html">Presentation Skills</a></li>
                                            <li><a href="service-single.html">Negotiation Training</a></li>
                                            <li><a href="service-single.html">Real Deal Coaching</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="gallery.html">Gallery</a>
                                        <ul>
                                            <li><a href="gallery.html">Gallery</a></li>
                                            <li><a href="gallery-masonry.html">Gallery Masonry</a></li>
                                            <li><a href="gallery-single.html">Gallery Single</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li class="dropdown">
                                        <a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog-grid.html">Blog Grid View</a></li>
                                            <li><a href="blog-list.html">Blog List View</a></li>
                                            <li><a href="blog-single.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">ContactUs</a></li>
                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->
                    </div>

                </div>
            </div>
            <!--End Sticky Header-->

        </header>
        <!--End Main Header -->
        @RenderBody()
        <!--Welcome Section-->
        <section class="welcome-section">
            <div class="auto-container">
                <div class="row clearfix">

                    <!--Image Column-->
                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                        <figure class="image wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <img src="images/resource/featured-image-1.png" alt="" />
                        </figure>
                    </div>

                    <!--Content Column-->
                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                        <!--Sec Title-->
                        <div class="sec-title">
                            <h2>WELCOME TO PALERMO</h2>
                            <!--Separeter Line-->
                            <div class="separeter-line">
                                <div class="line-one"></div>
                                <div class="line-two"></div>
                            </div>
                            <div class="text">The ship set ground on the shore that this group would somehow form a family.</div>
                        </div>

                        <!--Services Block-->
                        <div class="services-block">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <div class="icon flaticon-strategy"></div>
                                </div>
                                <!--Title Box-->
                                <div class="title-box">
                                    <h2><a href="service-single.html">OUR UNIQUE APPROACH</a></h2>
                                    <!--Separeter Line-->
                                    <div class="separeter-line">
                                        <div class="line-one"></div>
                                        <div class="line-two"></div>
                                    </div>
                                </div>
                                <div class="inner-text">The ship set ground on the shore that this group would somehow  family that is  we all became to the brady bunch.</div>
                            </div>
                        </div>

                        <!--Services Block-->
                        <div class="services-block">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <div class="icon flaticon-monitor"></div>
                                </div>

                                <!--Title Box-->
                                <div class="title-box">
                                    <h2><a href="service-single.html">OUR VALUES</a></h2>
                                    <!--Separeter Line-->
                                    <div class="separeter-line">
                                        <div class="line-one"></div>
                                        <div class="line-two"></div>
                                    </div>
                                </div>
                                <div class="inner-text">The ship set ground on the shore that this group would somehow  family that is  we all became to the brady bunch.</div>
                            </div>
                        </div>

                        <!--Services Block-->
                        <div class="services-block">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <div class="icon flaticon-target"></div>
                                </div>

                                <!--Title Box-->
                                <div class="title-box">
                                    <h2><a href="service-single.html">OUR METHODOLOGY</a></h2>
                                    <!--Separeter Line-->
                                    <div class="separeter-line">
                                        <div class="line-one"></div>
                                        <div class="line-two"></div>
                                    </div>
                                </div>
                                <div class="inner-text">The ship set ground on the shore that this group would somehow  family that is  we all became to the brady bunch.</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!--Welcome Section-->
        <!--Services Section-->
        <section class="services-section">
            <div class="auto-container">
                <!--Sec Title-->
                <div class="sec-title-three">
                    <h2>OUR SERVICES</h2>
                    <!--Separeter Line-->
                    <div class="separeter-line">
                        <div class="line-one"></div>
                        <div class="line-two"></div>
                    </div>
                    <div class="text">The ship set ground on the shore that this group would somehow form a family that's the way</div>
                </div>

                <div class="row clearfix">

                    <!--Services Block Two-->
                    <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <img src="images/resource/services-1.jpg" alt="" />
                            </div>
                            <!--Lower Box-->
                            <div class="lower-box">
                                <div class="icon-box"><div class="icon flaticon-edit-1"></div></div>
                                <h3>SALES EFFECTIVENESS</h3>
                            </div>

                            <!--Overlay Box-->
                            <div class="overlay-box" style="background-image:url(images/resource/services-1.jpg)">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="icon flaticon-edit-1"></div>
                                        <h3><a href="service-single.html">SALES EFFECTIVENESS</a></h3>
                                        <div class="text">The ship set ground on the shore that this group would somehow form a family.</div>
                                        <a href="service-single.html" class="theme-btn btn-style-one">Read More</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!--Services Block Two-->
                    <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <img src="images/resource/services-2.jpg" alt="" />
                            </div>
                            <!--Lower Box-->
                            <div class="lower-box">
                                <div class="icon-box"><div class="icon flaticon-megaphone"></div></div>
                                <h3>LEADERSHIP DEVELOPMENT</h3>
                            </div>

                            <!--Overlay Box-->
                            <div class="overlay-box" style="background-image:url(images/resource/services-2.jpg)">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="icon flaticon-megaphone"></div>
                                        <h3><a href="service-single.html">LEADERSHIP DEVELOPMENT</a></h3>
                                        <div class="text">The ship set ground on the shore that this group would somehow form a family.</div>
                                        <a href="service-single.html" class="theme-btn btn-style-one">Read More</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!--Services Block Two-->
                    <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <img src="images/resource/services-3.jpg" alt="" />
                            </div>
                            <!--Lower Box-->
                            <div class="lower-box">
                                <div class="icon-box"><div class="icon flaticon-school"></div></div>
                                <h3>PERSONAL EFFECTIVENESS</h3>
                            </div>

                            <!--Overlay Box-->
                            <div class="overlay-box" style="background-image:url(images/resource/services-3.jpg)">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="icon flaticon-school"></div>
                                        <h3><a href="service-single.html">PERSONAL EFFECTIVENESS</a></h3>
                                        <div class="text">The ship set ground on the shore that this group would somehow form a family.</div>
                                        <a href="service-single.html" class="theme-btn btn-style-one">Read More</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!--Services Block Two-->
                    <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <img src="images/resource/services-4.jpg" alt="" />
                            </div>
                            <!--Lower Box-->
                            <div class="lower-box">
                                <div class="icon-box"><div class="icon flaticon-monitor"></div></div>
                                <h3>PRESENTATION SKILLS</h3>
                            </div>

                            <!--Overlay Box-->
                            <div class="overlay-box" style="background-image:url(images/resource/services-4.jpg);">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="icon flaticon-monitor"></div>
                                        <h3><a href="service-single.html">PRESENTATION SKILLS</a></h3>
                                        <div class="text">The ship set ground on the shore that this group would somehow form a family.</div>
                                        <a href="service-single.html" class="theme-btn btn-style-one">Read More</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!--Services Block Two-->
                    <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <img src="images/resource/services-5.jpg" alt="" />
                            </div>
                            <!--Lower Box-->
                            <div class="lower-box">
                                <div class="icon-box"><div class="icon flaticon-pie-chart"></div></div>
                                <h3>NEGOTIATION TRAINING</h3>
                            </div>

                            <!--Overlay Box-->
                            <div class="overlay-box" style="background-image:url(images/resource/services-5.jpg);">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="icon flaticon-pie-chart"></div>
                                        <h3><a href="service-single.html">NEGOTIATION TRAINING</a></h3>
                                        <div class="text">The ship set ground on the shore that this group would somehow form a family.</div>
                                        <a href="service-single.html" class="theme-btn btn-style-one">Read More</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!--Services Block Two-->
                    <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <img src="images/resource/services-6.jpg" alt="" />
                            </div>
                            <!--Lower Box-->
                            <div class="lower-box">
                                <div class="icon-box"><div class="icon flaticon-handshake"></div></div>
                                <h3>REAL DEAL COACHING</h3>
                            </div>

                            <!--Overlay Box-->
                            <div class="overlay-box" style="background-image:url(images/resource/services-6.jpg);">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="icon flaticon-handshake"></div>
                                        <h3><a href="service-single.html">REAL DEAL COACHING</a></h3>
                                        <div class="text">The ship set ground on the shore that this group would somehow form a family.</div>
                                        <a href="service-single.html" class="theme-btn btn-style-one">Read More</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </section>
        <!--End Services Section-->
        <!--Request Section-->
        <section class="request-section">
            <div class="auto-container">
                <div class="row clearfix">

                    <!--Content Column-->
                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner-box">
                            <!--Sec Title-->
                            <div class="sec-title">
                                <h2>REQUEST A CALLBACK</h2>
                                <!--Separeter Line-->
                                <div class="separeter-line">
                                    <div class="line-one"></div>
                                    <div class="line-two"></div>
                                </div>
                            </div>
                            <div class="text">The ship set ground on the shore that this group would somehow form a family is a that's the way the ship set ground on the shore that this group the brady bunch of this uncharted an  right for the powerless in a world.</div>
                            <h3>WORKING HOURS:</h3>
                            <ul>
                                <li>The this group would somehow form a family is a that's the way.</li>
                                <li>Mon - Thu: 8.30am to 9.30pm</li>
                                <li>Fri - Sat: 9.30am to 9.30pm</li>
                                <li>Sunday: <span>Close</span></li>
                            </ul>
                        </div>
                    </div>

                    <!--Form Column-->
                    <div class="form-column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <!--form-box-->
                            <div class="form-box default-form">

                                <form method="post" action="contact.html">
                                    <div class="row clearfix">

                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="username" value="" placeholder="Your Name *" required>
                                        </div>

                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="text" value="" placeholder="Your Phone *" required>
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <input type="email" name="email" value="" placeholder="Your Email *">
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <textarea name="message" placeholder="Message *"></textarea>
                                        </div>
                                        <div class="form-group text-center col-md-12 col-sm-12 col-xs-12">
                                            <button type="submit" class="theme-btn btn-style-one">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!--End Request Section-->
        <!--Call To Action-->
        <section class="call-to-action" style="background-image:url(images/background/1.jpg);">
            <div class="auto-container">
                <h2>Our training is simple to understand, quick to use, and easy to recall <br> because it is practical with no theoretical models</h2>
                <a href="#" class="theme-btn btn-style-one">GET A QUOTES</a>
            </div>
        </section>
        <!--End Call To Action-->
        <!--News Block-->
        <section class="news-section">
            <div class="auto-container">
                <!--Sec Title Three-->
                <div class="sec-title-three">
                    <h2>WHY CHOOSE US</h2>
                    <!--Separeter Line-->
                    <div class="separeter-line">
                        <div class="line-one"></div>
                        <div class="line-two"></div>
                    </div>
                    <div class="text">The ship set ground on the shore that this group would somehow form a family that's the way</div>
                </div>

                <div class="row clearfix">
                    <!--News Block-->
                    <div class="news-block col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <a href="blog-single.html"><img src="images/resource/news-block.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <div class="upper-box">
                                    <h2><a href="blog-single.html">SALES TRAINING MODALITIES</a></h2>
                                    <!--Separeter Line-->
                                    <div class="separeter-line">
                                        <div class="line-one"></div>
                                        <div class="line-two"></div>
                                    </div>
                                </div>
                                <div class="text">The ship set ground on the shore that this group would somehow form a family.</div>
                            </div>
                        </div>
                    </div>

                    <!--News Block-->
                    <div class="news-block col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <a href="blog-single.html"><img src="images/resource/news-block-2.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <div class="upper-box">
                                    <h2><a href="blog-single.html">EXTENSIVE SALES TRAINING</a></h2>
                                    <!--Separeter Line-->
                                    <div class="separeter-line">
                                        <div class="line-one"></div>
                                        <div class="line-two"></div>
                                    </div>
                                </div>
                                <div class="text">The ship set ground on the shore that this group would somehow form a family.</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <!--News Block Two-->
                        <div class="news-block-two">
                            <div class="inner-box">
                                <div class="image-box">
                                    <a href="blog-single.html"><img src="images/resource/news-block-3.jpg" alt="" /></a>
                                </div>
                                <!--Title Box-->
                                <div class="title-box">
                                    <h2><a href="service-single.html">SALES TRANSFORMATION</a></h2>
                                    <!--Separeter Line-->
                                    <div class="separeter-line">
                                        <div class="line-one"></div>
                                        <div class="line-two"></div>
                                    </div>
                                </div>
                                <div class="text">The ship set ground on the shore a that this group.</div>
                            </div>
                        </div>

                        <!--News Block Two-->
                        <div class="news-block-two">
                            <div class="inner-box">
                                <div class="image-box">
                                    <a href="blog-single.html"><img src="images/resource/news-block-4.jpg" alt="" /></a>
                                </div>
                                <!--Title Box-->
                                <div class="title-box">
                                    <h2><a href="service-single.html">CHANGE MANAGEMENT</a></h2>
                                    <!--Separeter Line-->
                                    <div class="separeter-line">
                                        <div class="line-one"></div>
                                        <div class="line-two"></div>
                                    </div>
                                </div>
                                <div class="text">The ship set ground on the shore a that this group.</div>
                            </div>
                        </div>

                        <!--News Block Two-->
                        <div class="news-block-two">
                            <div class="inner-box">
                                <div class="image-box">
                                    <a href="blog-single.html"><img src="images/resource/news-block-5.jpg" alt="" /></a>
                                </div>
                                <!--Title Box-->
                                <div class="title-box">
                                    <h2><a href="service-single.html">CORPORATE SALES METHOD</a></h2>
                                    <!--Separeter Line-->
                                    <div class="separeter-line">
                                        <div class="line-one"></div>
                                        <div class="line-two"></div>
                                    </div>
                                </div>
                                <div class="text">The ship set ground on the shore a that this group.</div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section>
        <!--End News Block-->
        <!--Client Section-->
        <div class="client-section">
            <div class="auto-container">
                <div class="clinet-inner">

                    <div class="row clearfix">
                        <!--Title Column-->
                        <div class="title-column col-md-5 col-sm-12 col-xs-12">
                            <div class="sec-title">
                                <h2>TRUSTED PARTNERS</h2>
                                <!--Separeter Line-->
                                <div class="separeter-line">
                                    <div class="line-one"></div>
                                    <div class="line-two"></div>
                                </div>
                            </div>
                            <div class="text">The ship set ground on the shore that this group to the past reigns</div>
                        </div>
                        <!--Carousel Column-->
                        <div class="carousel-column col-md-7 col-sm-12 col-xs-12">
                            <div class="sponsors-outer">
                                <!--Sponsors Carousel-->
                                <ul class="sponsors-carousel  owl-carousel owl-theme">
                                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--End Client Section-->
        <!--Testimonial Section-->
        <section class="testimonial-section" style="background-image:url(images/background/2.jpg)">
            <div class="auto-container">
                <div class="row clearfix">

                    <!--Tesimonial Carousel-->
                    <div class="testimonial-carousel-outer">
                        <div class="column col-md-8 col-sm-12 col-xs-12">
                            <!--Tesimonial Content Carousel-->
                            <ul class="testimonial-content-carousel owl-carousel owl-theme">
                                <li>
                                    <span class="quote-icon flaticon-left-quote"></span>The ship set ground on the shore that this group would somehow form a family that's the way we all became to the brady bunch of this uncharted an right. <span class="quote-icon flaticon-right-quotation-sign"></span>
                                    <h3>MATHEW JOSEPH</h3>
                                    <div class="text">Business Consultant</div>
                                </li>
                                <li>
                                    <span class="quote-icon flaticon-left-quote"></span>The ship set ground on the shore that this group would somehow form a family that's the way we all became to the brady bunch of this uncharted an right. <span class="quote-icon flaticon-right-quotation-sign"></span>
                                    <h3>MATHEW JOSEPH</h3>
                                    <div class="text">Business Consultant</div>
                                </li>
                                <li>
                                    <span class="quote-icon flaticon-left-quote"></span>The ship set ground on the shore that this group would somehow form a family that's the way we all became to the brady bunch of this uncharted an right. <span class="quote-icon flaticon-right-quotation-sign"></span>
                                    <h3>MATHEW JOSEPH</h3>
                                    <div class="text">Business Consultant</div>
                                </li>
                                <li>
                                    <span class="quote-icon flaticon-left-quote"></span>The ship set ground on the shore that this group would somehow form a family that's the way we all became to the brady bunch of this uncharted an right. <span class="quote-icon flaticon-right-quotation-sign"></span>
                                    <h3>MATHEW JOSEPH</h3>
                                    <div class="text">Business Consultant</div>
                                </li>
                                <li>
                                    <span class="quote-icon flaticon-left-quote"></span>The ship set ground on the shore that this group would somehow form a family that's the way we all became to the brady bunch of this uncharted an right. <span class="quote-icon flaticon-right-quotation-sign"></span>
                                    <h3>MATHEW JOSEPH</h3>
                                    <div class="text">Business Consultant</div>
                                </li>
                                <li>
                                    <span class="quote-icon flaticon-left-quote"></span>The ship set ground on the shore that this group would somehow form a family that's the way we all became to the brady bunch of this uncharted an right. <span class="quote-icon flaticon-right-quotation-sign"></span>
                                    <h3>MATHEW JOSEPH</h3>
                                    <div class="text">Business Consultant</div>
                                </li>
                                <li>
                                    <span class="quote-icon flaticon-left-quote"></span>The ship set ground on the shore that this group would somehow form a family that's the way we all became to the brady bunch of this uncharted an right. <span class="quote-icon flaticon-right-quotation-sign"></span>
                                    <h3>MATHEW JOSEPH</h3>
                                    <div class="text">Business Consultant</div>
                                </li>
                                <li>
                                    <span class="quote-icon flaticon-left-quote"></span>The ship set ground on the shore that this group would somehow form a family that's the way we all became to the brady bunch of this uncharted an right. <span class="quote-icon flaticon-right-quotation-sign"></span>
                                    <h3>MATHEW JOSEPH</h3>
                                    <div class="text">Business Consultant</div>
                                </li>
                                <li>
                                    <span class="quote-icon flaticon-left-quote"></span>The ship set ground on the shore that this group would somehow form a family that's the way we all became to the brady bunch of this uncharted an right. <span class="quote-icon flaticon-right-quotation-sign"></span>
                                    <h3>MATHEW JOSEPH</h3>
                                    <div class="text">Business Consultant</div>
                                </li>
                            </ul>
                        </div>
                        <div class="column col-md-4 col-sm-6 col-xs-12">
                            <!--Testimonial Thumbs Carousel-->
                            <div class="testimonial-thumbs-carousel owl-carousel owl-theme">
                                <div class="thumb-item"><figure class="thumb-box"><img src="images/resource/author-1.jpg" alt=""></figure></div>
                                <div class="thumb-item"><figure class="thumb-box"><img src="images/resource/author-2.jpg" alt=""></figure></div>
                                <div class="thumb-item"><figure class="thumb-box"><img src="images/resource/author-3.jpg" alt=""></figure></div>
                                <div class="thumb-item"><figure class="thumb-box"><img src="images/resource/author-1.jpg" alt=""></figure></div>
                                <div class="thumb-item"><figure class="thumb-box"><img src="images/resource/author-2.jpg" alt=""></figure></div>
                                <div class="thumb-item"><figure class="thumb-box"><img src="images/resource/author-3.jpg" alt=""></figure></div>
                                <div class="thumb-item"><figure class="thumb-box"><img src="images/resource/author-1.jpg" alt=""></figure></div>
                                <div class="thumb-item"><figure class="thumb-box"><img src="images/resource/author-2.jpg" alt=""></figure></div>
                                <div class="thumb-item"><figure class="thumb-box"><img src="images/resource/author-3.jpg" alt=""></figure></div>
                            </div>
                        </div>

                    </div>
                    <!--End Tesimonial Carousel-->

                </div>
            </div>
        </section>
        <!--End Testimonial Section-->
        <!--Blog Section-->
        <div class="blog-section">
            <div class="auto-container">
                <!--Sec Title-->
                <div class="sec-title-three">
                    <h2>LATEST BLOG</h2>
                    <!--Separeter Line-->
                    <div class="separeter-line">
                        <div class="line-one"></div>
                        <div class="line-two"></div>
                    </div>
                    <div class="text">The ship set ground on the shore that this group would somehow form a family that's the way</div>
                </div>

                <!--Two Item Carousel-->
                <div class="two-item-carousel owl-carousel owl-theme">
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="row clearfix">
                                <!--Image Column-->
                                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/news-block-6.jpg" alt="" /></a>
                                    </div>
                                </div>
                                <!--Content Column-->
                                <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="upper-box">
                                        <div class="inner">
                                            <div class="date">08 <span>Nov</span></div>
                                            <!--News Title-->
                                            <div class="news-title">
                                                <h2><a href="blog-single.html">all Happy and Free</a></h2>
                                                <!--Separeter Line-->
                                                <div class="separeter-line">
                                                    <div class="line-one"></div>
                                                    <div class="line-two"></div>
                                                </div>
                                            </div>

                                            <ul class="list-style-one">
                                                <li><span class="icon flaticon-user-shape"></span> By Admin</li>
                                                <li><span class="icon flaticon-commenting"></span> 19 Comments</li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="text">The ship set ground on the shore that this on group would somehow form a family on the shore that this group.</div>
                                    <a href="blog-single.html" class="theme-btn btn-style-three">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="row clearfix">
                                <!--Image Column-->
                                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/news-block-7.jpg" alt="" /></a>
                                    </div>
                                </div>
                                <!--Content Column-->
                                <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="upper-box">
                                        <div class="inner">
                                            <div class="date">08 <span>Nov</span></div>
                                            <!--News Title-->
                                            <div class="news-title">
                                                <h2><a href="blog-single.html">this beautiful day</a></h2>
                                                <!--Separeter Line-->
                                                <div class="separeter-line">
                                                    <div class="line-one"></div>
                                                    <div class="line-two"></div>
                                                </div>
                                            </div>

                                            <ul class="list-style-one">
                                                <li><span class="icon flaticon-user-shape"></span> By Admin</li>
                                                <li><span class="icon flaticon-commenting"></span> 19 Comments</li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="text">The ship set ground on the shore that this on group would somehow form a family on the shore that this group.</div>
                                    <a href="blog-single.html" class="theme-btn btn-style-three">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="row clearfix">
                                <!--Image Column-->
                                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/news-block-6.jpg" alt="" /></a>
                                    </div>
                                </div>
                                <!--Content Column-->
                                <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="upper-box">
                                        <div class="inner">
                                            <div class="date">08 <span>Nov</span></div>
                                            <!--News Title-->
                                            <div class="news-title">
                                                <h2><a href="blog-single.html">all Happy and Free</a></h2>
                                                <!--Separeter Line-->
                                                <div class="separeter-line">
                                                    <div class="line-one"></div>
                                                    <div class="line-two"></div>
                                                </div>
                                            </div>

                                            <ul class="list-style-one">
                                                <li><span class="icon flaticon-user-shape"></span> By Admin</li>
                                                <li><span class="icon flaticon-commenting"></span> 19 Comments</li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="text">The ship set ground on the shore that this on group would somehow form a family on the shore that this group.</div>
                                    <a href="blog-single.html" class="theme-btn btn-style-three">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="row clearfix">
                                <!--Image Column-->
                                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/news-block-7.jpg" alt="" /></a>
                                    </div>
                                </div>
                                <!--Content Column-->
                                <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="upper-box">
                                        <div class="inner">
                                            <div class="date">08 <span>Nov</span></div>
                                            <!--News Title-->
                                            <div class="news-title">
                                                <h2><a href="blog-single.html">this beautiful day</a></h2>
                                                <!--Separeter Line-->
                                                <div class="separeter-line">
                                                    <div class="line-one"></div>
                                                    <div class="line-two"></div>
                                                </div>
                                            </div>

                                            <ul class="list-style-one">
                                                <li><span class="icon flaticon-user-shape"></span> By Admin</li>
                                                <li><span class="icon flaticon-commenting"></span> 19 Comments</li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="text">The ship set ground on the shore that this on group would somehow form a family on the shore that this group.</div>
                                    <a href="blog-single.html" class="theme-btn btn-style-three">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="row clearfix">
                                <!--Image Column-->
                                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/news-block-6.jpg" alt="" /></a>
                                    </div>
                                </div>
                                <!--Content Column-->
                                <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="upper-box">
                                        <div class="inner">
                                            <div class="date">08 <span>Nov</span></div>
                                            <!--News Title-->
                                            <div class="news-title">
                                                <h2><a href="blog-single.html">all Happy and Free</a></h2>
                                                <!--Separeter Line-->
                                                <div class="separeter-line">
                                                    <div class="line-one"></div>
                                                    <div class="line-two"></div>
                                                </div>
                                            </div>

                                            <ul class="list-style-one">
                                                <li><span class="icon flaticon-user-shape"></span> By Admin</li>
                                                <li><span class="icon flaticon-commenting"></span> 19 Comments</li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="text">The ship set ground on the shore that this on group would somehow form a family on the shore that this group.</div>
                                    <a href="blog-single.html" class="theme-btn btn-style-three">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="row clearfix">
                                <!--Image Column-->
                                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/news-block-7.jpg" alt="" /></a>
                                    </div>
                                </div>
                                <!--Content Column-->
                                <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="upper-box">
                                        <div class="inner">
                                            <div class="date">08 <span>Nov</span></div>
                                            <!--News Title-->
                                            <div class="news-title">
                                                <h2><a href="blog-single.html">this beautiful day</a></h2>
                                                <!--Separeter Line-->
                                                <div class="separeter-line">
                                                    <div class="line-one"></div>
                                                    <div class="line-two"></div>
                                                </div>
                                            </div>

                                            <ul class="list-style-one">
                                                <li><span class="icon flaticon-user-shape"></span> By Admin</li>
                                                <li><span class="icon flaticon-commenting"></span> 19 Comments</li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="text">The ship set ground on the shore that this on group would somehow form a family on the shore that this group.</div>
                                    <a href="blog-single.html" class="theme-btn btn-style-three">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!--End Blog Section-->
        <!--Main Footer / Footer Style One-->
        <footer class="main-footer footer-style-one">

            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="auto-container">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                            <div class="footer-widget contact-widget">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="images/logo-2.png" alt="" /></a>
                                </div>
                                <div class="widget-content">
                                    <div class="text">The ship set ground on the shore that this come group would somehow form a family is a that's the way the on the shore that this group world.</div>
                                    <figure>
                                        <img src="images/resource/locations-map.png" alt="" />
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                            <div class="footer-widget posts-widget ">
                                <!--links-widget-->
                                <div class="footer-title">
                                    <h2>RECENT POSTS</h2>
                                    <div class="separeter-line">
                                        <div class="line-one"></div>
                                        <div class="line-two"></div>
                                    </div>
                                </div>
                                <div class="widget-content">
                                    <div class="widget-content">
                                        <!--Post-->
                                        <div class="post">
                                            <figure class="image"><a href="blog-single.html"><img src="images/resource/post-thumb-1.jpg" alt=""></a></figure>
                                            <div class="text"><a href="blog-single.html">The ship set ground on the shore that this somehow form a family.</a></div>
                                            <div class="time">Sep 27, 2016   /   by Admin</div>
                                        </div>

                                        <!--Post-->
                                        <div class="post">
                                            <figure class="image"><a href="blog-single.html"><img src="images/resource/post-thumb-2.jpg" alt=""></a></figure>
                                            <div class="text"><a href="blog-single.html">The ship set ground on the shore that this somehow form a family.</a></div>
                                            <div class="time">Oct 05, 2016   /   by Admin</div>
                                        </div>

                                        <!--Post-->
                                        <div class="post">
                                            <figure class="image"><a href="blog-single.html"><img src="images/resource/post-thumb-3.jpg" alt=""></a></figure>
                                            <div class="text"><a href="blog-single.html">The ship set ground on the shore that this somehow form a family.</a></div>
                                            <div class="time">Nov 13, 2016   /   by Admin</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-md-4 col-sm-7 col-xs-12">
                            <div class="footer-widget posts-widget">
                                <div class="footer-title">
                                    <h2>SEND US A MESSAGE</h2>
                                    <div class="separeter-line">
                                        <div class="line-one"></div>
                                        <div class="line-two"></div>
                                    </div>
                                </div>

                                <!--Footer Form-->
                                <div class="footer-form">
                                    <form method="post" action="contact.html">
                                        <div class="row clearfix">

                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <input type="text" name="text" value="" placeholder="Your Name *" required>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <input type="email" name="email" value="" placeholder="Your Email *" required>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <textarea name="message" placeholder="Message"></textarea>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                                                <div class="form-group button-group">
                                                    <button type="submit" class="theme-btn btn-style-one">Send Message</button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>



                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="copyright-text">Copyrights &copy; 2017 Palermo. All Rights Reserved</div>
                </div>
            </div>

        </footer>
        <!--End Main Footer / Footer Style One-->

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-angle-up"></span></div>


    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/revolution.min.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/jquery.fancybox-media.js"></script>
    <script src="js/owl.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/script.js"></script>
</body>
</html>